#in-wrapper,
#out {
    overflow: hidden;
    border: 3px black solid;
    margin: 1.5vw;
    border-radius: 20px 20px;
    height: 70vh;
}

#out,
#in {
    overflow-y: auto;
    width: 35vw;
    height: 70vh;
}

.cards-container.stacked #out,
.cards-container.stacked #in {
    width: 70vw;
}

#in {
    background-color: #292d3e;
    z-index: 5
}

#in h1,
#in button {
    margin: 1vh 1vw;
    margin-right: 0;
}

#in h1 {
    color: #EDEFEF;
    text-align: left;
    font-size: 30px;
    margin-top: 2.5vh;
}

.CodeMirror {
    margin-top: 1vh;
    height: auto;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
}

#mathfield {
    margin: 0 5px;
    font-size: 120%;
}

.btn-row {
    padding: 5px;
    border-radius: 10px 10px;
    margin: 1vw;
}

.cards-container.stacked {
    flex-direction: column;
}

#hider {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#hider:hover {
    color: #da7071;
    transform: scale(0.95);
}

#hider:active {
    transition: transform 0.2s;
    transform: scale(0.8);
}

#sidebar-flow {
    display: inline-block;
}

#builder .jumbotron {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
}

#builder .cards-container {
    align-items: flex-start;
    flex-grow: 1;
}

list {
    display: block;
    width: 35vw;
}

item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    color: #292d3e;
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: #FFC849;
    border-radius: 5px 5px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

item *:not(.red) {
    margin-right: 15px;
}

item i {
    cursor: grab;
}

item input {
    background-color: #FFC849;
    border: none;
    width: 100%;
}

item input[placeholder="Heading"],
item input[placeholder="Course Title"] {
    font-weight: bold;
}

item.white-b input {
    background-color: white;
}

#sidebar-catalog i.red,
#sidebar-catalog i.green {
    display: none;
}

item i.red:active,
item i.green:active {
    transform: scale(0.8);
}